* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  }

.header {
  background-color: black;
  background-image: url(../assets/images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
} 

.h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.nav {
  padding: 14px 16px;
  color: rgb(244, 6, 6);
  font-size: 15px;
  float: right;
  align-content: center;
}

.grid-container {
  display: inline-grid;
  gap: 20px 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
