* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  }

.header {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.hero-banner {
    background-image: url(../assets/images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.hero-banner-title {
  color: red;
}

.page-section {
  text-align: center;
  padding: 50px;
}

.h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.nav {
  padding: 14px 16px;
  color: rgb(244, 6, 6);
  font-size: 15px;
  float: right;
  align-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* padding: 100px 100px; */
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}
.first-work::after {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.image {
  position: relative;
  width: 100%;
  /* max-width: 300px; */
  margin: 0 auto;
  height: 400px;
}
